@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6em;
    font-family: 'Teko', sans-serif;
    word-wrap: break-word;
}
/*navbar style*/
.navbar{
    display: relative;
    width: 100%;
    height: 800px;
    border-bottom: 1px solid rgba(0,0,0,0,0.2);
    background-image: url(/res/Slider.jpg);
    background-size: cover;
    background-position: top;
}

.nav-logo{
    display: absolute;
    float: left;
    width: 30%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    background-color: #fff;
    padding: 10px 0px;
    border-radius: 0 0 50px;
}
.nav-logo a{
    text-decoration: none;
}
.nav-logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-weight: bold;
}
#brand-left{
    color: #a0e866;
}
#brand-right{
    color: #baff42;
}

.nav-list{
    float: right;
    width: 50%;
    font-size: 25px;    
}

.nav-list ul{
    list-style: none;
    margin-top: 40px;
    font-size: 20px;
}

.nav-list ul li{
    display: inline-block;
    margin-left: 30px;
}

.nav-list ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
}
#btn-login{
    margin-left: 50px;
    background-color: #a0e866;
    padding: 3px 30px;
    border-radius: 11px;
}

/*section style*/
section{
    position: relative;
    height: 150vh;
    width: 100%;
}
/* content style */
 .content-section{
    width: 80%;
    height: 300px;
    text-align: center;
    position: absolute;
    left: 10%;
    background: #Fff;
    top: -10%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
.container-content{
    flex: 1;
    display: inline-block;
    width: 25%;
    height: 250px;
    margin: 20px 30px;
    padding: 40px 0px;
    border: none;
    background-color: rgba(160,232,102, 0.5);
    border-radius: 5px;
}

.container-content:hover{
    cursor: pointer;
    background-color: rgba(160,232,102);
}

.content .title-content{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bolder;
}


/* about us style */
#about-us{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 30%;
    left: 7%;
}
.container{
    width: 100%;
    padding: 0 auto;
}

#about-us .container h1{
    font-size: 50px;
    letter-spacing: 0.2em;
    margin-bottom: 40px;
    border-top: 5px solid #a0e866;
    width: 250px;
}

.about-description{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 50px;
}
.about-description h3{
    flex: 1;
    width: 40%;
    font-size: 30px;
    margin-right: 50px;
    border-left: 5px solid #a0e866;
    padding-left: 20px;
    text-align: end;
}

.about-description p{
    flex: 1;
    width: 50%;
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
    font-family: sans-serif;
}

/* founder style */
.founder{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 50px;
}

.founder-name{
    flex: 1;
    width: 50%;
    padding: 10px 20px;
    margin-right: 30px;
    text-align: justify;
}

.founder-name img{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    
}

.founder-name h3{
    font-size: 40px;
    letter-spacing: 0.2em;
    font-weight: 800;
}
.founder-name p{
    font-size: 25px;
}
.founder-desc{
    flex: 1;
    align-self: center;
    width: 50%;
    text-align: justify;
}
.founder-desc p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    border-right: 5px solid #a0e866;
    padding: 15px 30px;
}

.event{
    position: absolute;
    top: 1750px;
    left: 100px;
    padding: 20px 30px;
    text-align: center;
    border-bottom:1px solid rgba(0, 0, 0, 0.2)
}

.event h2{
    width: 400px;
    font-size: 40px;
    font-weight: 800;
    padding: 20px 30px;
    margin-bottom: 50px;
    border-top: 5px solid #a0e866;
}

.list-event{
    width: 100%;
}

.list-event ul{
    text-transform: uppercase;
    list-style: none;
    text-align: start;
    
}

.list-event ul li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

.list-event ul li:hover{
    background-color: #a0e866;
}

.img-list-event{
    width: 100%;
    margin-top: 70pxpx;
}

.img-list-event ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.img-list-event ul li{
    flex: 1 20%;
    margin-top: 50px;

}

.img-list-event ul li img{
    width: 300px;
    height: 200px;
}

.service-section{
    width: 100%;
    height: auto;
    position:absolute;
    top: 2550px;
    left: 20px;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#service-title{
    width: 350px;
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
}

.line{
    width: 50%;
    height: 5px;
    background-color: #a0e866;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.container-service{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.list-service{
    height: 250px;
    padding: 15px 30px;
    background-color: rgba(160,232,102, 0.4);
    flex: 1 35%;
    margin-right: 30px;
    margin-top: 30px;
}
.list-service h3{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.list-service p{
    font-size: 17px;
    text-align: justify;
}

.list-service:hover{
    cursor: pointer;
    background-color: rgba(160,232,102);
}

.feedback-section{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 3400px;
    text-align: center;
    background-color: #a0e866;
}

#feedback-title{   
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: inherit;
    letter-spacing: 5px;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(160,232,102, 0.5);
}

#feedback-desc{
    font-size: 20px;
    margin-bottom: 50px;
}

.content-feedback{
    width: 80%;
    padding: 20px 30px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.feedback{
    flex: 1 35%;
    height: auto;
    margin-left: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
}

.feedback h4{
    font-size: 25px;
    font-weight: 700;
}
.feedback .role{
    font-size: 20px;
    border-bottom: 3px solid #a0e866;
    margin-bottom: 30px;
    font-weight: 600;
}

.feedback p{
    font-size: 15px;
    text-align: justify;
}

/*media query*/

@media only screen and (max-width: 1100px){

    .event{
        top: 200%;
    }
    .service-section{
        top: 300%;
    }

    .feedback-section{
        top: 390%;
    }

    .founder-name h3{
        letter-spacing: 0px;
    }
}
@media only screen and (max-width: 600px){
    .content-section{
        width: 80%;
        display: block;
        box-shadow: none;
        height: auto;
    } 
    .container-content{
        width: 90%;
        display: block;
        height: 200px;
    }
    #about-us{
        position: relative;
        height: auto;
        top: 100%;
        left: 0%;
    }
    .container{
        width: 100%;
        padding: 0px 15px;
    }

    .container h1{
        text-align: center;
        font-size: 50px;
        margin-left: 20%;
    }

    .about-description{
        width: 100%;
        flex-direction: column;
    }
    .about-description h3{
        width: 100%;
        text-align: start;
        margin-bottom: 30px;
    }
    .about-description p{
        width: 100%;
        text-align: justify;
    }

    .founder{
        width: 100%;
        flex-direction: column;
    }

    .founder-name{
        width: 100%;

    }

    .founder-name img{
        width: 100%;

    }

    .founder-desc{
        width: 100%;
    }

    .event{
        top: 280%;
        left: 0%;
        text-align: center;
    }
    .event h2{
        width: 80%;
        margin-left: 40px;
    }

    .service-section{
        top: 440%;
    }

    #service-title{
        width: 100%;
    }

    .list-service{
        flex: 1 100%;
    }

    .feedback-section{
        top: 590%;
    }
    #feedback-title{
        letter-spacing: 0px;
    }
    .feedback-section .content-feedback{
        width: 100%;
        margin-left: 0px;
        display: block;
        height: auto;
    }

    .content-feedback .feedback{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
}